body{
    font-family: "Poppins", sans-serif;
}
section{
    height: 550px;
    
}
/* NAVBAR */
.logo{
    z-index: 3;
    position: absolute;
    top: 28px;
    left: 856px;
    width: 117px;

}
.navbar2 {
    display: grid;
    grid-template-columns: 14.2% 14.2% 14.2% 14.2% 14.2% 14.2% 14.2%;
    grid-template-rows: 100%;
    grid-template-areas: "zona poli uni deporte sociedad quehago";
    width: 1330px;
    margin-top: 40px;
    justify-content: space-around;
    margin-left: 80px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 24px;
    height: 100px;
}
.deporte{
    margin-left: 10px;

}
/* Aplica color solo cuando se pasa el mouse por encima de los spans */
.navbar2 .H span:hover {
    color: #B500A3; 
}

/* Estilo para mostrar el dropdown solo al hacer hover sobre el span */
.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    display: none;
}
span{
    font-weight: 600;
}
.buscar{
    margin-top: -8px;
    width: 50px;
}
.linea{
    position: absolute;
    width: 1516px;
    height: 0px;
    left: -2px;
    top: 219px;
    border: 1px solid #D9D9D9;
}
a{
    color: black;
    text-decoration: none;
}
/* ULTIMAS NOVEDADES */
.tittle{
    position: absolute;
    width: 446px;
    height: 43px;
    margin-left: 89px;
    background-color: rgba(181, 0, 163, 0.5);
    margin-top: 3px;
    z-index: 1;
}
h2{
    position: relative;
    color: black;
    font-weight: 800;
    font-size: 40px;
    margin-left: 95px;
    margin-top: 50px;
    z-index: 2;
    margin-bottom: 50px;
}
.rect-titulo{
    position: absolute;
    width: 10px;
    height: 43px;
    margin-left: 86px;
    background-color: #B500A3;
    margin-top: 3px;
}
.carousel{
    width: 1328px;
    margin-left: 86px
}

/* ESTRENOS */
.carousel-control-prev,
.carousel-control-next {
    width: auto; /* Ajusta el ancho según sea necesario */
    top: 50%; /* Posiciona las flechas verticalmente centradas */
    transform: translateY(-50%);
    width: 5%; /* Ajusta el ancho según necesites */
    z-index: 1; /* Asegura que las flechas estén sobre el carrusel */
}

.carousel-control-prev {
    left: 0; /* Alinea la flecha previa a la izquierda */
}

.carousel-control-next {
    right: 0; /* Alinea la flecha siguiente a la derecha */
}

#REazul{
    position: absolute;
    background-color: #0811FC;
    margin-top: 115px;
}
#Tazul{
    position: absolute;
    background-color: rgba(8, 17, 252, 0.5);
    width: 218px;
    margin-top:115px ;
}
.titu{
    position: absolute;
    margin-top:115px ;
}
#Razul{
    width: 6px;
    height: 29px;
    margin-top: 18px;
}
.tarjeta {
    position: relative;
    background-color: #232323;
    width: 319px;
    height: 368px;
    color: white;
    text-align: left;
    border-radius: 5px;
    margin: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.tarjeta:hover {
    transform: translateY(-5px);
}
.tarjeta:hover h2 {
    opacity: 0; /* Oculta el h2 al hacer hover */
}
.tarjeta:hover p{
    opacity: 0;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.7); /* Color de fondo del overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease;
}

.tarjeta:hover .overlay {
    opacity: 1;
}

.overlay img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* Ajusta el tamaño del PNG para cubrir el overlay */
}

.tarjeta h2 {
    color: white;
    margin-left: 20px;
    margin-top: 20px;
    font-weight: 800;
    font-size: 22px;
}
.orden-tarjetas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap; 
    margin-left: 0px;
    width: 1346px;
}

.rect-cards{
    position: absolute;
    width: 4px;
    height: 18px;
    margin-left: 10px;
    background-color: #0811FC;
    margin-top: 25px;
}
#estrenos{
    position: relative;
    top: 0px;
}
.carru1{
    position: relative;
    top: 200px;
    height: 400px;
}
/* DONDE COMER */
.donde{
    margin-top: 100px;
}
#REamarillo{
    background-color: #FFD600;
}
#Tamarillo{
    background-color:rgba(255, 214, 0, 0.5);
    width: 352px;
}
#tituama{
    position: relative;
}
.amarillo {
    color: #ffd600;
}
.rect-cards-arriba{
    position: absolute;
    width: 4px;
    height: 18px;
    background-color: #0811FC;
    margin-top: 7px;
}
.rect-cards-abajo{
    position: absolute;
    width: 4px;
    height: 18px;
    background-color: #0811FC;
    margin-top: -10px;
}
#Ramarillo{
    background-color: #FFD600;
}
.tarjeta h2 {
    margin-left: 20px;
    margin-top: 20px;
    font-weight: 800;
    font-size: 22px;
}

.tarjeta h3 {
    margin-left: 20px;
    margin-top: -48px;
    font-weight: 600;
    font-size: 16px;
}

.tarjeta p {
    position: relative;
    z-index: 1;
    color: white;
    margin-left: 12px;
    font-size: 13px;
}

.p1 {
    margin-top: 25px;
}

.p2 {
    margin-top: -10px;
}
.icono{
    position: relative;
    z-index: 0;
    margin-left: 180px;
    margin-top: -80px;
}

/* A PASEAR */
.paseo{
    margin-top: -100px;
}
#REnaranja{
    background-color: #F18C30;
}
#Tnaranja{
    background-color:rgba(241, 140, 48, 0.51);
    width: 244px;
}
#titunara{
    position: relative;

}
.naranja {
    color: #F18C30;
}
#Rnaranja{
    background-color: #F18C30;
}
.linkform{
position: absolute;
width: 130px;
height: 24px;
left: 1285px;
top: 2589px;
font-weight: 400;
font-size: 16px;
line-height: 24px;
text-decoration-line: underline;
color: #000000;
}
.linkform2{
    position: absolute;
    width: 130px;
    height: 24px;
    left: 1285px;
    top: 3167px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #000000;
    }

/* A EMPRENDEDORES */
.emprende{
    margin-top: -100px;
}
#RErojo{
    background-color: #FF0000;
}
#Trojo{
    background-color:rgba(255, 0, 0, 0.5);
    width: 356px;
}
#titurojo{
    position: relative;
}
#Rrojo{
    background-color: #FF0000;
    width: 6px;
    height: 29px;
    margin-top: 18px;
}
.tarjeta .hovrojo:hover{
    position: absolute;
    width: 280px;
    height: 33px;
    opacity: 100%;
    color: #FF0000;
    background-color: #232323;
}
.tarjeta .hovrojo{
    position: absolute;
    left: 1%;
    right: 0%;
    top: 165px;
    bottom: 0%;
    opacity: 100%;
    color: #f9f7f7;
}
#rojo{
    color: #FF0000; ;
}
/*VIDA NOCTURNA */
.noctur{
    margin-top: -100px;
}
#REvioleta{
    background-color: #9747FF;
}
#Tvioleta{
    background-color:rgba(151, 71, 255, 0.5);
    width: 348px;
}
#tituviole{
    position: relative;

}
.violeta {
    color: #9747FF;
}
#Rvioleta{
    background-color: #9747FF;
}
.icono-noche{
    margin-left: 160px;
    margin-top: -105px;
}
.nota-button{
    width: 129px;
    height: 40px;
    background-color: #7733CC;
    color: white;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    margin-top: 90px;
}
/*CARRUSEL CHICOS */
.chicos{
    background-color:rgba(184, 46, 170, 0.24); ;
    margin-top: -100px;
    height: 640px;
}
#REchicos{
    background-color: #B500A3;
}
#Tchicos{
    background-color:rgba(181, 0, 163, 0.5);
    width: 371px;
}
#tituchicos{
    position: relative;
}
.cardkids{
    position: relative;
    background-color: #B12E5D;
    width: 351px;
    height: 483px;
    color: white;
    text-align: left;
    border-radius: 15px;
    margin: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
}
#granja{
    background-color: #AC3232;
}
#topa{
    background-color: #AC8332;
}
#zuki{
    background-color: #2E8EB1;
}
#panam{
    background-color: #2EB14B;
}
#pepa{
    background-color: #7733CC;
}

.cardkids h2 {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-left: 20px;
    margin-top: 5px;
    font-weight: 800;
    font-size: 16px;
    color: white;
}
.cardkids p {
    
    font-style: normal;
    font-size: 12px;
}
.pe1 {
    margin-left: 30px;
    font-weight: 600;
    margin-top: -35px;
}

.pe2 {
    margin-left: 30px;
    font-weight: 500;
    margin-top: -15px;
}
.pe3 {
    margin-left: 20px;
    font-weight: 400;
    margin-top: 5px;
    font-size: 12px;
    text-decoration-line: underline;
}
.orden-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 515px;
}

.img1a{
    z-index: 3;
    position: absolute;
    margin-left: -850px;
    margin-top: -440px;
}
.img1b{
    margin-top: 65px;
    margin-left: 20px;
}
.img2a{
    z-index: 3;
    position: absolute;
    margin-left: 0px;
    margin-top: -440px;
}
.img2b{
    margin-top: 65px;
    margin-left: 20px;
}
.img3a{
    z-index: 3;
    position: absolute;
    margin-left: 850px;
    margin-top: -440px;
}
.img3b{
    margin-top: 65px;
    margin-left: 20px;
}

.rect-kids-arriba{
    position: absolute;
    width: 4px;
    height: 18px;
    background-color: #672046;
    margin-top: -35px;
    margin-left: 20px;
}
.rect-kids-abajo{
    position: absolute;
    width: 4px;
    height: 18px;
    background-color: #672046;
    margin-top: -12px;
    margin-left: 20px;
}
#Rgranja{
    background-color: #672020;
}
#Rtopa{
    background-color: #675320;
}
#Rzuki{
    background-color: #205367;
}
#Rpanam{
    background-color: #1D6C2E;
}
#Rpepa{
    background-color: #371B65;
}

/*FOOTER */
.rect-footer{
    width: 100%;
    height: 329px;
    background-color: #B500A3;
}
.foot-up{
    margin-left: 80px;
    padding-top: 23px;
    display: flex;
    justify-content: space-between;
    width: 1335px;
    
}
.foot-secc{
    display: flex;
    justify-content:space-between ;
    width: 1335px;
    padding-top: 70px;
    margin-left: 80px;
    color: white;
    font-weight: 600;
    font-size: 24px;
    a{
        color: white;
        text-decoration: none;
    }
}

.foot-term{
    display: flex;
    justify-content:space-between ;
    width: 660px;
    padding-top: 65px;
    margin-left: 80px;
    color: #EDEDED;
    font-weight: 600;
    font-size: 16px;
}
.foot-red{
    position: absolute;
    display: flex;
    justify-content:space-evenly;
    width:385px;
    margin-top: -90px;
    margin-left: 1060px;
}
.foot-copy{
    width: 1347px;
    margin-bottom: 10px;
    margin-left: 80px;
    color: #EDEDED;
    font-weight: 400;
    font-size: 11px;
}